<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title>Quiz Summary View</title>
</head>

<body>
    <div class="body-outer">
        <div class="container" id="root">
        </div>
    </div>

    <div style="display:none">
        <!--  Tab section  -->
        <div class="tabs-content">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active responder-key" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true" tabindex="0" role="buttone">Responders</a>
                    <a class="nav-item nav-link non-responder-key" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false" tabindex="0" role="buttone">Non Responders</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <table class="table" cellspacing="0" id="responder-table">
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <table class="table" cellspacing="0" id="non-responder-table">
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--  Question Result Section  -->
        <div class="question-content"></div>
    </div>
    <script src="js/DetailView.js"></script>
</body>

</html>