@charset "utf-8";
:root {
    --main-bg-color: #6264a7;
    --main-bg-color-hover: rgb(88, 90, 150);
    --main-bg-color-focus: rgb(70, 71, 117);
    --main-bg-color-1: rgba(98, 100, 167, 0.1);
    --main-bg-color-2: rgba(98, 100, 167, 0.2);
    --main-bg-color-3: rgba(98, 100, 167, 0.3);
    --main-bg-color-4: rgba(98, 100, 167, 0.4);
    --main-bg-color-5: rgba(98, 100, 167, 0.5);
    --main-bg-color-6: rgba(98, 100, 167, 0.6);
    --main-bg-color-7: rgba(98, 100, 167, 0.7);
    --main-bg-color-8: rgba(98, 100, 167, 0.8);
    --main-bg-color-9: rgba(98, 100, 167, 0.9);
    --buttion-border: rgba(255, 255, 255, 0.2);
    --app-input-color: #212121;
    --app-black: #252423;
    --app-black-hover: #11100F;
    --app-black-shadow: rgba(37, 36, 35, .5);
    --app-black-shadow-1: rgba(37, 36, 35, .1);
    --app-black-shadow-2: rgba(0, 0, 0, 0.1);
    --app-black-shadow-3: rgba(0, 0, 0, 0.25);
    --app-gray-02: #484644;
    --app-gray-03: #605E5C;
    --button-primary-outline-border: #E1DFDD;
    --app-gray-04: #979593;
    --app-gray-06: #C8C6C4;
    --app-gray-08: #E1DFDD;
    --app-gray-09: #Ede9eb;
    --app-gray-10: #737373;
    --app-gray-hover: #ebebe9;
    --app-gray-sub-text: #6e6e6e;
    --app-white: #f3f2f1;
    --bg-white: #ffffff;
    --card-bg: #faf9f8;
    --card-border: #e7e6e5;
    --danger-color: #C4314B;
    --danger-bg: #f3d6db;
    --danger-border: #eabbc2;
    --success-color: #92C353;
    --success-border: #92C353;
    --success-bg: #DEEDCB;
    --table-border: #dee2e6;
    --font-regular: 0.875rem;
    --font-21: 1.3125rem;
    --font-16: 1rem;
    --font-18: 1.125rem;
    --font-13: 0.8125rem;
    --font-12: 0.75rem;
    --font-10: 0.625rem;
    --font-30: 1.875rem;
    --font-weight-400: 400;
    --font-weight-600: 600;
    --font-weight-500: 500;
    --font-weight-800: 800;
}

body {
    background-color: transparent !important;
    font-weight: var(--font-weight-400);
    font-size: var(--font-regular);
    color: var(--app-input-color);
    font-family: "Segoe UI", "Helvetica Neue", "Apple Color Emoji", "Segoe UI Emoji", Helvetica, Arial, sans-serif;
    line-height: 1.4286;
}

* {
    margin: 0px;
    padding: 0px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
    padding-right: 16px;
    padding-left: 16px;
}

.row {
    margin-right: -16px;
    margin-left: -16px;
}

label,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    margin: 0px;
    padding: 0px;
}

.font-12 {
    font-size: var(--font-12) !important;
}

.font-14 {
    font-size: var(--font-regular);
}

.font-16 {
    font-size: var(--font-16);
}

.input-group-text {
    padding: 0px;
    font-size: inherit;
}

.mt--2 {
    margin-top: 0.125rem !important;
}

.mt--4 {
    margin-top: 0.25rem !important;
}

.mt--8 {
    margin-top: 0.5rem !important;
}

.mt--12 {
    margin-top: 0.75rem !important;
}

.mt--16 {
    margin-top: 1rem !important;
}

.mt--20 {
    margin-top: 1.25rem !important;
}

.mt--24 {
    margin-top: 1.5rem !important;
}

.mt--28 {
    margin-top: 1.75rem !important;
}

.mt--32 {
    margin-top: 2rem !important;
}

.mb--2 {
    margin-bottom: 0.125rem !important;
}

.mb--4 {
    margin-bottom: 0.25rem !important;
}

.mb--8 {
    margin-bottom: 0.5rem !important;
}

.mb--12 {
    margin-bottom: 0.75rem !important;
}

.mb--16 {
    margin-bottom: 1rem !important;
}

.mb--20 {
    margin-bottom: 1.25rem !important;
}

.mb--24 {
    margin-bottom: 1.5rem !important;
}

.mb--28 {
    margin-bottom: 1.75rem !important;
}

.mb--32 {
    margin-bottom: 2rem !important;
}

.ml--4 {
    margin-left: 0.25rem !important;
}

.ml--8 {
    margin-left: 0.5rem !important;
}

.ml--12 {
    margin-left: 0.75rem !important;
}

.ml--16 {
    margin-left: 1rem !important;
}

.ml--20 {
    margin-left: 1.25rem !important;
}

.ml--24 {
    margin-left: 1.5rem !important;
}

.ml--28 {
    margin-left: 1.75rem !important;
}

.ml--32 {
    margin-left: 2rem !important;
}

.mr--4 {
    margin-right: 0.25rem !important;
}

.mr--8 {
    margin-right: 0.5rem !important;
}

.mr--12 {
    margin-right: 0.75rem !important;
}

.mr--16 {
    margin-right: 1rem !important;
}

.mr--20 {
    margin-right: 1.25rem !important;
}

.mr--24 {
    margin-right: 1.5rem !important;
}

.mr--28 {
    margin-right: 1.75rem!important;
}

.mr--32 {
    margin-right: 2rem!important;
}

.pt--4 {
    padding-top: 0.25rem!important;
}

.pt--8 {
    padding-top: 0.5rem!important;
}

.pt--12 {
    padding-top: 0.75rem!important;
}

.pt--16 {
    padding-top: 1rem!important;
}

.pt--20 {
    padding-top: 1.25rem !important;
}

.pt--24 {
    padding-top: 1.5rem !important;
}

.pt--28 {
    padding-top: 1.75rem !important;
}

.pt--32 {
    padding-top: 2rem !important;
}

.pb--4 {
    padding-bottom: 0.25rem !important;
}

.pb--8 {
    padding-bottom: 0.5rem !important;
}

.pb--12 {
    padding-bottom: 0.75rem !important;
}

.pb--16 {
    padding-bottom: 1rem !important;
}

.pb--20 {
    padding-bottom: 1.25rem !important;
}

.pb--24 {
    padding-bottom: 1.5rem !important;
}

.pb--28 {
    padding-bottom: 1.75rem !important;
}

.pb--32 {
    padding-bottom: 2rem !important;
}

.pl--4 {
    padding-left: 0.25rem !important;
}

.pl--8 {
    padding-left: 0.5rem !important;
}

.pl--12 {
    padding-left: 0.75rem !important;
}

.pl--16 {
    padding-left: 1rem !important;
}

.pl--20 {
    padding-left: 1.25rem !important;
}

.pl--24 {
    padding-left: 1.5rem !important;
}

.pl--28 {
    padding-left: 1.75rem !important;
}

.pl--32 {
    padding-left: 2rem !important;
}

.pr--2 {
    padding-right: 0.125rem !important;
}

.pr--4 {
    padding-right: 0.25rem !important;
}

.pr--8 {
    padding-right: 0.5rem !important;
}

.pr--12 {
    padding-right: 0.75rem !important;
}

.pr--16 {
    padding-right: 1rem !important;
}

.pr--20 {
    padding-right: 1.25rem !important;
}

.pr--24 {
    padding-right: 1.5rem !important;
}

.pr--28 {
    padding-right: 1.75rem !important;
}

.pr--32 {
    padding-right: 2rem !important;
}

.app-gray-02_labels-subheads-attributions-icon {
    color: var(--app-gray-02)
}

.app-black-color {
    color: var(--app-black);
}

.app-gray-03_message-previews-help {
    color: var(--app-gray-03);
}

.app-gray-04_timestamps {
    color: var(--app-gray-04);
}

.app-gray-06_disabled-text {
    color: var(--app-gray-06);
}

.app-gray-08_separators-borders-channel-dividers-banner-bg {
    background-color: var(--app-gray-08);
}

.app-gray-10_for-card-bg {
    background-color: var(--app-white);
}

.app-black-bg {
    background-color: var(--app-black);
}

.app-gray-02-color {
    color: var(--app-gray-02);
}

.app-gray-02-bg {
    background-color: var(--app-gray-02);
}

.card-bg {
    background-color: var(--card-bg);
}

.card-border {
    border: 1px solid var(--card-border)
}

.form-group {
    position: relative;
    margin-bottom: auto;
}

.close {
    float: right;
    text-decoration: none;
    color: var(--app-black);
    ;
}

form {
    width: 100%;
}

.input-group-tpt svg {
    fill: var(--app-gray-10);
}

.option-image,
.question-image {
    fill: var(--app-gray-02) !important;
    width: 16px;
    height: 16px;
    touch-action: auto;
}

.remove-option-q svg {
    fill: var(--app-gray-02);
}

.custom-radio-outer.disabled,
.custom-check-outer.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.text-danger {
    color: var(--danger-color)!important;
    font-size: var(--font-12);
}

.teams-link {
    border: none;
    background-color: transparent;
    font-weight: var(--font-weight-400);
}

.teams-link:hover {
    color: var(--app-gray-10);
}

.question-content {
    word-break: break-all;
}

.font-sm {
    font-size: var(--font-regular);
}

.btn-primary {
    color: var(--app-white);
    background-color: var(--main-bg-color) !important;
    border-color: var(--main-bg-color);
    box-shadow: var(--app-black-shadow-3) 0px 0.2rem 0.4rem -0.075rem;
}

.btn-primary:hover {
    color: var(--app-white);
    background-color: var(--main-bg-color-hover) !important;
    border-color: var(--main-bg-color-hover) !important;
    box-shadow: none !important;
}

.btn-primary:focus {
    color: var(--app-white);
    border-color: transparent;
    box-shadow: var(--app-black-shadow-3) 0px 0.2rem 0.4rem -0.075rem;
    outline: -webkit-focus-ring-color auto 5px !important;
    outline: revert;
}

.btn-primary-outline {
    color: var(--app-black) !important;
    background-color: var(--bg-white) !important;
    border-color: var(--button-primary-outline-border) !important;
    box-shadow: var(--app-black-shadow-3) 0px 0.2rem 0.4rem -0.075rem;
}

.btn-primary-outline:hover {
    color: var(--app-black) !important;
    background-color: var(--app-gray-hover) !important;
    border-color: var(--app-gray-06) !important;
}

.btn-primary-outline:focus {
    color: var(--app-black) !important;
    background-color: var(--app-gray-09) tansparent !important;
    border-color: var(--app-gray-06) !important;
    box-shadow: 0 0 0 1px var(--app-black-shadow) !important;
    outline: -webkit-focus-ring-color auto 5px !important;
    outline: revert;
}

.bg-primary {
    background-color: var(--main-bg-color-hover) !important;
}

label {
    display: inline-block;
    color: var(--app-input-color);
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid var(--table-border);
    font-weight: var(--font-weight-600);
}

.table td,
.table th {
    font-size: var(--font-regular);
}

.btn {
    padding: .25rem 1.5rem;
}

.alert {
    border-radius: 3px;
}

.alert-normal {
    color: var(--app-gray-02) !important;
    background-color: var(--card-bg) !important;
    border-color: var(--card-border) !important;
}

.card-box i {
    right: 0px;
    top: 0px;
    position: absolute;
}

.alert.alert-normal i {
    top: 8px;
}

.alert.alert-success i {
    top: 8px;
}

i.success-with-img {
    fill: var(--success-border);
}

.alert i.success {
    fill: var(--success-border);
}

.alert-success i {
    fill: var(--success-border);
}

.check-in-div i.success {
    fill: var(--success-border);
}

.card-box .check-in-div {
    position: relative;
    word-break: break-all;
    color: var(--app-gray-02);
    padding-right: 24px !important;
}

.alert {
    color: var(--app-black) !important;
    position: relative;
    line-height: 14px;
    padding: 8px 32px 8px 8px!important;
    margin: 0px;
}

.alert-danger {
    background-color: var(--danger-bg) !important;
    border-color: var(--danger-color) !important;
}

.alert-danger i {
    color: var(--danger-border) !important;
    position: absolute;
    top: 5px;
    right: 10px;
}

.alert-success {
    background-color: var(--success-bg) !important;
    border-color: var(--success-border) !important;
}

.alert-success i {
    position: absolute;
    top: 0px;
    right: 0px;
}

.mb0 {
    margin-bottom: 0px !important;
}

.h4,
h4 {
    font-size: var(--font-16) !important;
    font-weight: var(--font-weight-800);
}

b,
strong {
    font-weight: var(--font-weight-600) !important;
}

.btn.close {
    font-size: var(--font-16) !important;
}

.in-t {
    background-color: var(--app-white) !important;
    border-radius: 3px !important;
    border: none !important;
    border-bottom: 2px solid var(--app-white) !important;
    transition: all ease-in-out 0.3s;
    height: 32px;
    padding: 8px 8px;
    line-height: 16px;
    font-size: var(--font-16);
}

.in-t:focus {
    box-shadow: none !important;
    border-bottom: 2px solid var(--main-bg-color) !important;
    transition: all ease-in-out 0.3s;
}

.input-lg {
    font-size: var(--font-18);
    font-weight: var(--font-weight-600);
    height: calc(1.8em + .75rem + 2px);
    padding: .9rem .75rem;
}

.input-lg::-webkit-input-placeholder {
    color: var(--app-gray-sub-text);
}

.input-lg:-ms-input-placeholder {
    color: var(--app-gray-sub-text);
}

.input-lg::placeholder {
    color: var(--app-gray-sub-text);
}

.input-title {
    font-size: var(--font-16);
    font-weight: var(--font-weight-800);
    padding: 8px;
}

textarea.form-control {
    height: 60px;
}

.card {
    border: inherit;
    background-color: inherit;
}

.card-box {
    margin-bottom: 1rem;
    padding: 0.5rem;
    position: relative;
    border-radius: 3px;
}

.card-box-alert {
    border: 1px solid var(--danger-color);
    margin-bottom: 16px;
    padding: 8px;
    background-color: var(--danger-bg);
    position: relative;
    border-radius: 3px;
}

.card-box-alert .text-danger {
    color: var(--danger-color);
}

.input-tpt {
    background-color: transparent !important;
    border: none !important;
}

.pl-0 {
    padding-left: 0px;
}

.strong {
    font-weight: var(--font-weight-600);
}

.input-group-tpt .in-t {
    background-color: var(--app-white) !important;
    border-radius: 3px !important;
    border: none !important;
    border-bottom: 2px var(--app-white) !important;
    transition: all ease-in-out 0.3s;
    font-size: var(--font-16);
}

.label-alert {
    color: var(--danger-color);
    text-align: right;
    font-size: var(--font-12);
}

.input-group-tpt .in-t:focus {
    box-shadow: none !important;
    border-bottom: 2px solid var(--main-bg-color) !important;
    transition: all ease-in-out 0.3s;
}

.in-t.danger {
    border-bottom: 2px solid var(--danger-color) !important;
}

.in-t.danger:focus {
    border-bottom: 2px solid var(--danger-color) !important;
}

.input-group-tpt {
    display: block;
}

.input-group-tpt .in-t {
    width: 100%;
    padding-right: 30px;
}

.input-group-tpt .input-group-append {
    margin-left: -1px;
    position: absolute;
    right: 0px;
    top: 4px;
    z-index: 100;
    width: 16px;
    height: 16px;
}

.input-group-tpt .input-group-append.left {
    margin-left: -1px;
    position: absolute;
    left: 8px;
    top: 8px;
    z-index: 100;
    width: 16px;
    height: 16px;
}

.input-group-tpt .input-group-append.checked-112 svg {
    fill: var(--success-color);
}

.input-group-tpt .input-group-append.trash-ic {
    right: 32px;
    top: 4px;
}

.input-group-tpt-q .input-group-append {
    margin-left: -1px;
    position: absolute;
    left: 8px;
    top: 8px;
    z-index: 99;
}

.ext-flex {
    width: 10%;
}

.d-flex .form-group {
    width: 100%;
}

.ha {
    fill: rgb(98, 100, 167);
}

.gv {
    transform: rotate(0deg);
}

.gt {
    height: .9rem;
}

.gs {
    width: .9rem;
}

.gu {
    fill: currentcolor;
}

.wh {
    fill: var(--app-white);
}

.h-32 {
    height: 32px;
}

.btn svg {
    margin-top: -3px;
}

.mt-3 {
    margin-top: -3px !important
}

.footer {
    position: fixed;
    bottom: 0px;
    width: auto;
    background-color: var(--bg-white);
    z-index: 1001;
    left: 2rem;
    right: 2rem;
}

.ki {
    transform: rotate(90deg);
}

.footer-padd {
    padding: 20px 0px;
}

.theme-color {
    color: var(--main-bg-color);
}

a.theme-color {
    color: var(--main-bg-color) !important;
}

a.theme-color:hover {
    color: var(--main-bg-color) !important;
    text-decoration: none;
}

.cursor-pointer {
    cursor: pointer;
}

.close {
    opacity: 1;
}

.close {
    float: right;
    text-decoration: none;
    color: var(--app-black);
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    height: 21px;
    margin: 0px;
    padding: 0px;
    line-height: 0px;
}

hr {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.modal-title svg {
    margin-top: -5px;
}

a#back-setting svg {
    margin-top: -3px;
}

.section-2 {
    width: 100%;
}

.section-1 {
    width: 100%;
}

.section-3 {
    width: 100%;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: var(--main-bg-color-hover) !important;
    background-color: transparent !important;
    border-color: transparent !important;
    font-weight: var(--font-weight-600);
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-bottom: 0.25rem var(--app-gray-08) solid !important;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    color: var(--app-black);
}

.project-tab #tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: var(--main-bg-color-hover);
    background-color: transparent;
    border-color: transparent transparent var(--app-white);
    border-bottom: 0.25rem var(--main-bg-color-hover) solid !important;
}

.nav-fill .nav-item {
    font-weight: var(--font-weight-600);
}

.nav-link {
    display: block;
    padding: 0.25rem 0rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    color: var(--app-gray-02);
}


/* new style */

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid var(--app-gray-08);
    font-weight: var(--font-weight-600);
}

.table td,
.table th {
    font-size: var(--font-12);
}

.btn {
    padding: .25rem 1.25rem;
    font-size: var(--font-regular);
    font-weight: var(--font-weight-600);
    height: 32px;
    border-radius: 2px;
}


/*custom radio*/

.custom-radio-outer {
    display: block;
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-block {
    position: absolute;
    top: 0px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--app-black);
}

.radio-block.selected {
    background-color: var(--main-bg-color);
}

.radio-block.selected:hover {
    background-color: var(--main-bg-color) !important;
}

.custom-radio:hover input~.radio-block {
    background-color: var(--app-white);
}

.custom-radio:hover input~span {
    color: var(--app-black-hover);
}

.custom-radio:focus input~.radio-block {
    box-shadow: 0px 0px 1px 1px var(--main-bg-color);
}

.custom-radio input:checked~.radio-block {
    background-color: var(--main-bg-color);
    border: none;
}

.custom-radio input:checked~span {
    color: var(--app-black-hover);
}

.custom-radio:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-radio input:checked~.radio-block:after {
    display: block;
}

.custom-radio .radio-block:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--app-white);
}


/*cutom-check*/

.custom-check-outer {
    display: block;
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: transparent;
    border: 1px solid var(--app-gray-02);
    border-radius: 2px;
}

.checkmark.selected {
    background-color: var(--main-bg-color);
    border: none;
}

.custom-check:hover input~.checkmark {
    background-color: var(--app-white);
}

.custom-check input:focus~.checkmark {
    outline: -webkit-focus-ring-color auto 5px !important;
    outline: revert;
}

.custom-check input:checked~.checkmark {
    background-color: var(--main-bg-color);
    border: none;
}

.custom-check input:checked~.selected {
    background-color: var(--main-bg-color);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkmark.selected:after {
    display: block;
}

.custom-check input:checked~.checkmark:after {
    display: block;
}

.custom-check .checkmark:after {
    left: 6px;
    top: 3px;
    width: 4px;
    height: 8px;
    border: solid var(--app-white);
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close span {
    outline: none;
    box-shadow: none;
}

.pb-100 {
    padding-bottom: 72px;
}

.ht-100 {
    height: 100px !important;
    width: 100%;
}

.d-table label {
    display: table-cell;
    vertical-align: top;
    width: 100%;
}

.getresult span {
    color: var(--main-bg-color);
    text-decoration: underline;
    cursor: pointer;
}

.custom-radio input:disabled~.radio-block {
    background-color: var(--main-bg-color-5);
}

.add-options svg {
    margin-top: -4px;
    width: 1rem;
    height: 1rem;
    margin-right: 8px;
}

.add-options {
    font-size: var(--font-12);
    font-weight: var(--font-weight-600);
    color: var(--main-bg-color);
}

.add-options:hover {
    color: var(--main-bg-color);
}

#hide1 #due {
    font-size: var(--font-12);
    font-weight: var(--font-weight-400);
    line-height: 16px;
}

.input-lg {
    font-size: var(--font-18);
    font-weight: var(--font-weight-600);
}

.input-lg::-webkit-input-placeholder {
    color: var(--app-gray-sub-text);
}

.input-lg:-ms-input-placeholder {
    color: var(--app-gray-sub-text);
}

.input-lg::placeholder {
    color: var(--app-gray-sub-text);
}

.in-t::-webkit-input-placeholder {
    color: var(--app-gray-sub-text);
}

.in-t:-ms-input-placeholder {
    color: var(--app-gray-sub-text);
}

.in-t::placeholder {
    color: var(--app-gray-sub-text);
}

.in-t {
    color: var(--app-input-color);
}

.in-t:focus {
    color: var(--app-input-color);
}

.input-group-text {
    color: var(--app-input-color);
}

.back-btn {
    width: 1rem;
    height: 1rem;
    color: var(--app-gray-02);
    transform: rotate(90deg);
    margin-top: -2px;
    margin-right: 16px;
}

.back-key {
    color: var(--app-gray-02);
}

.progress {
    height: 0.5rem;
}

.btn-tpt {
    height: 31px;
}

.card-blank {
    margin-bottom: 0px;
    padding: 0px 0px;
}

.date-color {
    color: var(--main-bg-color-hover);
    font-size: var(--font-12);
    font-weight: var(--font-weight-600);
}

.under-line:hover {
    text-decoration: underline;
}

.avtar {
    width: 2.25rem;
    height: 2.25rem;
    background-color: var(--app-gray-08);
    text-align: center;
    line-height: 2.25rem;
    border-radius: 100%;
    margin-right: 0.625rem;
}

.avtar-txt {
    line-height: 2.25rem;
    color: var(--app-black);
    font-size: var(--font-regular);
}

.table td {
    padding: 0.5rem 0 0.5rem 0;
    border-top: 1px solid var(--app-white);
    border-bottom: none;
}

.right-carate {
    width: .5rem;
    height: .5rem;
    transform: rotate(-90deg);
    margin-top: -3px;
    fill: var(--app-gray-10);
    margin-left: 0.625rem;
}

td.text-right.date-text p {
    padding-right: 20px !important;
    font-weight: var(--font-weight-400);
}

.date-text {
    color: var(--app-gray-sub-text);
}

.nav-tabs {
    border-bottom: 0.125rem solid var(--app-gray-08);
}

.nav-tabs .nav-item {
    margin-bottom: 0px;
    font-size: var(--font-12);
}

.bt {
    border-top: 1px solid var(--app-gray-08);
}

.indent-20 {
    padding-left: 16px;
}


/* date */

.datepicker table tr td.old,
.datepicker table tr td.new {
    color: var(--app-gray-sub-text);
}

.datepicker {
    padding: 0.875rem;
    border-radius: 0px;
    direction: ltr;
    box-shadow: var(--app-black-shadow-1) 0px 0.8rem 1rem -0.2rem;
}

.datepicker .thead {
    height: 40px;
}

.datepicker table tr td,
.datepicker table tr th {
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border: none;
    font-size: var(--font-12);
    font-weight: var(--font-weight-400);
}

.datepicker-days .prev {
    position: absolute;
    right: 40px;
    font-size: var(--font-30);
    top: 19px;
    content: "\f104";
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0.5C8.13542 0.5 8.2526 0.549479 8.35156 0.648438C8.45052 0.747396 8.5 0.864583 8.5 1C8.5 1.13542 8.45052 1.2526 8.35156 1.35156L1.71094 8L8.35156 14.6484C8.45052 14.7474 8.5 14.8646 8.5 15C8.5 15.1354 8.45052 15.2526 8.35156 15.3516C8.2526 15.4505 8.13542 15.5 8 15.5C7.86458 15.5 7.7474 15.4505 7.64844 15.3516L0.648438 8.35156C0.549479 8.2526 0.5 8.13542 0.5 8C0.5 7.86458 0.549479 7.7474 0.648438 7.64844L7.64844 0.648438C7.7474 0.549479 7.86458 0.5 8 0.5Z' fill='%23484644'/%3E%3C/svg%3E") !important;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    width: 16px;
    height: 16px;
}

.datepicker-days .next {
    position: absolute;
    right: 10px;
    font-size: var(--font-30);
    top: 19px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 15.5C0.864583 15.5 0.747396 15.4505 0.648437 15.3516C0.549479 15.2526 0.5 15.1354 0.5 15C0.5 14.8646 0.549479 14.7474 0.648437 14.6484L7.28906 8L0.648436 1.35156C0.549478 1.2526 0.499999 1.13542 0.499999 1C0.499999 0.864584 0.549478 0.747397 0.648436 0.648438C0.747394 0.54948 0.864582 0.500001 0.999999 0.500001C1.13542 0.500001 1.2526 0.54948 1.35156 0.648438L8.35156 7.64844C8.45052 7.7474 8.5 7.86458 8.5 8C8.5 8.13542 8.45052 8.2526 8.35156 8.35156L1.35156 15.3516C1.2526 15.4505 1.13542 15.5 1 15.5Z' fill='%23484644'/%3E%3C/svg%3E%0A") !important;
    background-repeat: no-repeat;
    background-position: center center;
    width: 16px;
    height: 16px;
}

.datepicker-months .prev {
    position: absolute;
    left: 10px;
    font-size: var(--font-30);
    top: 19px;
    content: "\f104";
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0.5C8.13542 0.5 8.2526 0.549479 8.35156 0.648438C8.45052 0.747396 8.5 0.864583 8.5 1C8.5 1.13542 8.45052 1.2526 8.35156 1.35156L1.71094 8L8.35156 14.6484C8.45052 14.7474 8.5 14.8646 8.5 15C8.5 15.1354 8.45052 15.2526 8.35156 15.3516C8.2526 15.4505 8.13542 15.5 8 15.5C7.86458 15.5 7.7474 15.4505 7.64844 15.3516L0.648438 8.35156C0.549479 8.2526 0.5 8.13542 0.5 8C0.5 7.86458 0.549479 7.7474 0.648438 7.64844L7.64844 0.648438C7.7474 0.549479 7.86458 0.5 8 0.5Z' fill='%23484644'/%3E%3C/svg%3E") !important;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    width: 16px;
    height: 16px;
}

.datepicker-months .next {
    position: absolute;
    right: 16px;
    font-size: var(--font-30);
    top: 19px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 15.5C0.864583 15.5 0.747396 15.4505 0.648437 15.3516C0.549479 15.2526 0.5 15.1354 0.5 15C0.5 14.8646 0.549479 14.7474 0.648437 14.6484L7.28906 8L0.648436 1.35156C0.549478 1.2526 0.499999 1.13542 0.499999 1C0.499999 0.864584 0.549478 0.747397 0.648436 0.648438C0.747394 0.54948 0.864582 0.500001 0.999999 0.500001C1.13542 0.500001 1.2526 0.54948 1.35156 0.648438L8.35156 7.64844C8.45052 7.7474 8.5 7.86458 8.5 8C8.5 8.13542 8.45052 8.2526 8.35156 8.35156L1.35156 15.3516C1.2526 15.4505 1.13542 15.5 1 15.5Z' fill='%23484644'/%3E%3C/svg%3E%0A") !important;
    background-repeat: no-repeat;
    background-position: center center;
    width: 16px;
    height: 16px;
}

.datepicker-years .prev {
    position: absolute;
    left: 16px;
    font-size: var(--font-30);
    top: 19px;
    content: "\f104";
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0.5C8.13542 0.5 8.2526 0.549479 8.35156 0.648438C8.45052 0.747396 8.5 0.864583 8.5 1C8.5 1.13542 8.45052 1.2526 8.35156 1.35156L1.71094 8L8.35156 14.6484C8.45052 14.7474 8.5 14.8646 8.5 15C8.5 15.1354 8.45052 15.2526 8.35156 15.3516C8.2526 15.4505 8.13542 15.5 8 15.5C7.86458 15.5 7.7474 15.4505 7.64844 15.3516L0.648438 8.35156C0.549479 8.2526 0.5 8.13542 0.5 8C0.5 7.86458 0.549479 7.7474 0.648438 7.64844L7.64844 0.648438C7.7474 0.549479 7.86458 0.5 8 0.5Z' fill='%23484644'/%3E%3C/svg%3E") !important;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    width: 16px;
    height: 16px;
}

.datepicker-years .next {
    position: absolute;
    right: 16px;
    font-size: var(--font-30);
    top: 19px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 15.5C0.864583 15.5 0.747396 15.4505 0.648437 15.3516C0.549479 15.2526 0.5 15.1354 0.5 15C0.5 14.8646 0.549479 14.7474 0.648437 14.6484L7.28906 8L0.648436 1.35156C0.549478 1.2526 0.499999 1.13542 0.499999 1C0.499999 0.864584 0.549478 0.747397 0.648436 0.648438C0.747394 0.54948 0.864582 0.500001 0.999999 0.500001C1.13542 0.500001 1.2526 0.54948 1.35156 0.648438L8.35156 7.64844C8.45052 7.7474 8.5 7.86458 8.5 8C8.5 8.13542 8.45052 8.2526 8.35156 8.35156L1.35156 15.3516C1.2526 15.4505 1.13542 15.5 1 15.5Z' fill='%23484644'/%3E%3C/svg%3E%0A") !important;
    background-repeat: no-repeat;
    background-position: center center;
    width: 16px;
    height: 16px;
}

.datepicker-days .datepicker-switch {
    position: absolute;
    left: 22px;
    width: auto;
    font-size: var(--font-regular);
    font-weight: var(--font-weight-600);
    padding-top: 4px;
}

.datepicker table thead tr {
    height: 30px;
}

.datepicker table thead tr+tr {
    border-top: 1px solid var(--app-gray-08);
}

.datepicker thead tr:first-child th:hover,
.datepicker tfoot tr th:hover {
    background: transparent;
    color: var(--main-bg-color);
}

.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
    color: var(--app-white);
    background-color: var(--main-bg-color);
    border-color: transparent;
    background-image: none;
}

.datepicker table tr td.today:hover:hover {
    color: var(--app-black);
}

.datepicker table tr td.today:hover,
.datepicker table tr td.today:hover:hover,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today.disabled:hover:hover,
.datepicker table tr td.today:focus,
.datepicker table tr td.today:hover:focus,
.datepicker table tr td.today.disabled:focus,
.datepicker table tr td.today.disabled:hover:focus,
.datepicker table tr td.today:active,
.datepicker table tr td.today:hover:active,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today.active,
.datepicker table tr td.today:hover.active,
.datepicker table tr td.today.disabled.active,
.datepicker table tr td.today.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td.today,
.open .dropdown-toggle.datepicker table tr td.today:hover,
.open .dropdown-toggle.datepicker table tr td.today.disabled,
.open .dropdown-toggle.datepicker table tr td.today.disabled:hover {
    color: var(--app-white);
    background-color: var(--main-bg-color);
    border-color: var(--main-bg-color);
    background-image: none;
}

.datepicker table tr td,
.datepicker table tr th {
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border: none;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    font-size: var(--font-12);
    font-weight: var(--font-weight-400);
}

.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:focus,
.datepicker table tr td.active:hover:focus,
.datepicker table tr td.active.disabled:focus,
.datepicker table tr td.active.disabled:hover:focus,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td.active,
.open .dropdown-toggle.datepicker table tr td.active:hover,
.open .dropdown-toggle.datepicker table tr td.active.disabled,
.open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
    color: var(--app-black-hover);
    background-color: var(--main-bg-color-3);
    border-color: transparent;
    background-image: none;
}

.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
    background: var(--app-gray-08);
    cursor: pointer;
}

.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:focus,
.datepicker table tr td span.active:hover:focus,
.datepicker table tr td span.active.disabled:focus,
.datepicker table tr td span.active.disabled:hover:focus,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td span.active,
.open .dropdown-toggle.datepicker table tr td span.active:hover,
.open .dropdown-toggle.datepicker table tr td span.active.disabled,
.open .dropdown-toggle.datepicker table tr td span.active.disabled:hover {
    color: var(--app-input-color);
    background-color: var(--main-bg-color-3);
    border-color: transparent;
    background-image: none;
}

.dropdown-menu {
    color: var(--app-input-color);
}

.datepicker .fa {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--app-white);
}

.date.form_date input {
    background-image: url(../images/cal.png);
    background-repeat: no-repeat;
    background-position: right 10px top 8px;
    font-size: var(--font-regular);
    background-size: 16px;
}

.datetimepicker-hours thead tr th {
    opacity: 0;
}

.datetimepicker .datetimepicker-hours span {
    height: 30px;
    line-height: 30px;
    font-size: var(--font-12);
    font-weight: var(--font-weight-400);
    color: var(--app-black-hover);
}

.datetimepicker-dropdown-bottom-right {
    box-shadow: var(--app-black-shadow-1) 0px 0.8rem 1rem -0.2rem;
}

.datetimepicker-hours .prev {
    display: none;
}

.datetimepicker th.switch {
    height: 1px;
    display: none;
}

.datetimepicker-hours .next {
    display: none;
}

.datetimepicker-dropdown-bottom-right.dropdown-menu {
    min-width: 12rem;
}

.datetimepicker-dropdown-bottom-right .table-condensed {
    width: 100%;
}

.datetimepicker-dropdown-bottom-right .today {
    font-size: var(--font-12);
}

.datetimepicker thead tr:first-child th:hover,
.datetimepicker tfoot th:hover {
    background: var(--app-gray-08);
}

.datetimepicker table tr td span.active:active,
.datetimepicker table tr td span.active:hover:active,
.datetimepicker table tr td span.active.disabled:active,
.datetimepicker table tr td span.active.disabled:hover:active,
.datetimepicker table tr td span.active.active,
.datetimepicker table tr td span.active:hover.active,
.datetimepicker table tr td span.active.disabled.active,
.datetimepicker table tr td span.active.disabled:hover.active {
    color: var(--app-white);
    background-color: var(--main-bg-color);
    text-shadow: none;
    background-image: none;
}

.datetimepicker table tr td span:hover {
    background: var(--app-gray-08);
}

.datetimepicker .datetimepicker-minutes span {
    height: 30px;
    line-height: 30px;
    font-size: var(--font-12);
    font-weight: var(--font-weight-400);
    color: var(--app-black-hover);
}

.date.form_time input {
    background-image: url(../images/time.png);
    background-repeat: no-repeat;
    background-position: right 10px top 8px;
    font-size: var(--font-regular);
    background-size: 16px;
}

.datepicker-months .table-condensed {
    min-width: 208px;
}

.datepicker-years .table-condensed {
    min-width: 208px;
}


/* .show-setting {
   display: flex;
} */

.show-setting svg {
    margin-right: 16px;
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    /* margin-bottom: 8px; */
}

.show-setting {
    display: inline-flex;
}

.show-setting span {
    display: flex;
    align-items: center;
}

body::-webkit-scrollbar {
    width: 0.6rem;
}

body::-webkit-scrollbar-track {
    background: var(--app-white);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--app-gray-08);
    border-radius: 40px;
}

body::-webkit-scrollbar:hover {
    width: 0.8rem;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--app-gray-04);
    border-radius: 40px;
}

::-webkit-scrollbar {
    width: 8px;
}


/* Track */

::-webkit-scrollbar-track {
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: var(--app-gray-08);
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: var(--app-gray-04);
}

body {
    scrollbar-color: var(--app-gray-08) var(--app-gray-08);
    scrollbar-width: thin;
}


/* 10-9 */

.remove-option-q {
    border-radius: 0px;
    position: absolute;
    right: 0px;
    z-index: 10;
    top: 2px;
}

.check-group .checkmark {
    margin-top: 4px;
}

.tc {
    fill: var(--main-bg-color)
}

.card-blank-q {
    margin-bottom: 16px;
    padding: 16px;
    position: relative;
    border: none;
}

.q-no {
    width: 24px;
    justify-content: flex-end;
    font-weight: var(--font-weight-600);
    font-size: var(--font-regular);
}

.q-text {
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    width: 100%;
    word-wrap: anywhere;
    font-weight: var(--font-weight-600);
    font-size: var(--font-regular);
}

.choice-list li {
    font-weight: var(--font-weight-400);
    list-style: none;
    color: var(--app-gray-02);
    word-break: break-all;
    display: inline-flex;
}

.choice-list li:not(:last-child) {
    margin-bottom: 0.5rem;
}

.choice-list li i {
    font-size: var(--font-21);
    margin-right: 10px;
    color: var(--app-gray-02);
}

.choice-list li p {
    line-height: 1rem;
    margin-bottom: 0px;
}

.input-group-tpt .in-t {
    width: 100%;
    padding-right: 56px;
}

.remove-option svg {
    fill: var(--app-gray-02)
}

.check-opt {
    right: 8px !important;
    top: 8px !important;
}

.check-opt i {
    color: var(--app-gray-06);
}

.text-success {
    color: var(--success-color) !important;
    font-size: var(--font-12);
}

.text-success .checked-status {
    color: var(--success-color) !important;
}

.check-opt .text-success i {
    color: var(--success-color);
}

.my-tooltip {
    display: none;
}

.check-opt:hover .my-tooltip {
    display: block;
}

.tooltip-main {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-weight: var(--font-weight-600);
    background: var(--app-white);
    border: 1px solid var(--app-gray-08);
    color: var(--app-gray-06);
    margin: 4px 121px 0 5px;
    float: right;
    text-align: left !important;
}

.tooltip-qm {
    float: left;
    margin: -2px 0px 3px 4px;
    font-size: var(--font-12);
}

.tooltip-inner {
    max-width: 236px !important;
    font-size: var(--font-12);
    padding: 0.25rem;
    background: var(--app-gray-08) none repeat scroll 0% 0%;
    color: var(--app-white);
    border: 1px solid var(--app-gray-06);
    text-align: left;
}

.tooltip.show {
    opacity: 1;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
    border-bottom-color: var(--app-gray-06);
}

.pr-35 {
    padding-right: 35px;
}

.hide {
    display: none;
}

.setting-section .custom-radio-outer:last-child {
    margin-bottom: 32px;
}

.table-remove li {
    list-style: none;
    display: inline-block;
    width: 100%;
}

.table-remove li .btn-sm {
    padding: .25rem .6rem;
}

.table-remove li+li {
    text-align: right;
}

.hr-danger {
    border-color: var(--danger-color);
}


/* 3-9 */

.photo-box {
    background-image: url(../images/camera.png);
    background-repeat: no-repeat;
    background-position: top 46px center;
    background-size: 32px;
    background-color: var(--app-white);
    border: none;
}

.photo-box span {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 48px;
    color: var(--app-gray-sub-text);
    font-size: var(--font-12);
}

.max-min-220 {
    max-height: 146px;
    min-height: 146px;
    overflow: hidden;
    background-color: var(--app-white);
    border: 1px solid var(--card-border);
}

.updated-img {
    overflow: hidden;
    text-align: left;
}

.updated-img img {
    text-align: center;
    height: auto;
    width: auto;
    max-width: 100%;
    margin: 0px auto;
}

.video-box {
    background-image: url(../images/video.png);
    background-repeat: no-repeat;
    background-position: top 46px center;
    background-size: 32px;
}

.video-box span {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 48px;
}

.p14 {
    padding: 0.875rem;
}

.doc-box {
    background-image: url(../images/doc.png);
    background-repeat: no-repeat;
    background-position: top 46px center;
    background-size: 32px;
}

.doc-box span {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 48px;
}

.img-thumbnail {
    max-width: 100%;
    min-height: 80px;
    max-height: 80px;
    overflow: hidden;
}

.img-thumbnail img {
    width: 100%;
    max-height: 150px;
    margin-right: 150px;
}

.slideup-content {
    width: 94%;
    height: 160px;
    position: fixed;
    bottom: 0px;
    padding: 1rem;
    left: 3%;
    border-radius: 8px;
    text-align: center;
    display: none;
}

.slideup-content div {
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slideup-content .ms-Icon {
    font-size: 2rem;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pr-35 {
    padding-right: 35px;
}

.remove-option-q {
    border-radius: 0px;
    position: absolute;
    right: 8px;
    z-index: 10;
    top: 8px;
}

.mt-04 {
    margin-top: 4px;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.disabled2 {
    pointer-events: none;
}

.option-sec .disabled {
    pointer-events: none;
    opacity: 1;
}

.dropdown-toggle::after {
    display: none;
}

.add-down {
    width: 0.75rem;
    height: 0.75rem;
}

.dd-btn {
    padding: 0px;
    line-height: 32px;
}

.dd-btn .span1 {
    height: 32px;
    padding: 0px 1.25rem;
}

.dd-btn .span2 {
    float: right;
    min-width: 2rem;
    text-align: center;
    height: 32px;
    border-left: 1px solid var(--buttion-border);
}

.dropdown-menu.show {
    border: 1px solid var(--app-white);
    box-shadow: var(--app-black-shadow-2) 0px 0.8rem 1rem -0.2rem;
    padding: 0.75rem;
    border-radius: 0.25rem;
    min-width: 12rem;
}

.dropdown-menu.show li a {
    color: var(--app-gray-03);
    padding: 0.75rem 0.875rem;
    display: block;
    line-height: 1rem;
}

.dropdown-menu.show li a i {
    margin-right: 0.5rem;
    margin-top: 0.01rem;
}

.dropdown-menu.show li a:hover {
    background-color: var(--app-white);
    text-decoration: none;
}

.table-remove li {
    list-style: none;
    display: inline-block;
    width: 100%;
}

.table-remove li .btn-sm {
    padding: .25rem .6rem;
}

.table-remove li+li {
    text-align: right;
}

.hr-danger {
    border-color: var(--danger-color);
}

#quiz-description-content {
    word-break: break-word;
    white-space: pre-line;
}

#quiz-title-content {
    word-break: break-all;
}

.text-break {
    word-break: break-word;
    white-space: pre-line;
}

.d-table label+label {
    white-space: nowrap !important;
}

.remove-option {
    display: none;
}

.carousel-control-prev-icon {
    background-image: url(https://www.webcraft.co.in/teams-ic/slider-pre.png) !important;
}

.carousel-control-next-icon {
    background-image: url(https://www.webcraft.co.in/teams-ic/slider-next.png) !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: no-repeat 50% / 100% 100%;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 56px;
    height: 32px;
}

span.file-counter {
    position: absolute;
    right: 20px;
    top: 5px;
    width: 1.7rem;
    height: 1.7rem;
    background-color: var(--main-bg-color-7);
    color: var(--app-white);
    text-align: center;
    line-height: 1.7rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
}

.loader-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: table;
    background-color: var(--bg-white);
    top: 0;
    z-index: 9999;
}

.spinner-border {
    margin: 0px auto;
}

.loader-outer {
    display: table-cell;
    vertical-align: middle;
    margin: 0px auto;
    text-align: center;
}

.spinner-border {
    border: 0.25em solid var(--main-bg-color);
    border-right-color: transparent;
}

.body-outer {
    margin-top: 16px;
    padding: 16px 32px 16px 32px;
    position: fixed;
    display: block !important;
    width: 100%;
    top: 0;
    bottom: 72px;
    overflow-x: hidden;
    overflow-y: overlay;
}

.body-outer::before {
    left: 32px;
    right: 32px;
    content: "";
    position: fixed;
    z-index: 1 !important;
    top: 0;
    margin-top: 16px;
    border-top: 1px outset;
}

.sub-text {
    color: var(--app-gray-sub-text);
}

.bold {
    font-weight: var(--font-weight-800) !important;
}

.semi-bold {
    font-weight: var(--font-weight-600) !important;
}

.footer #back {
    display: table-cell;
    vertical-align: middle;
}

.d-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.footer .d-table-cell {
    display: table-cell !important;
    vertical-align: middle;
    line-height: 13px;
}

.footer .d-table {
    width: 100%;
    height: 32px;
}

.container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.cover-img {
    overflow: hidden;
    background-color: var(--app-white);
}

.cover-img img {
    text-align: center;
    height: auto;
    width: auto;
    max-width: 100%;
}

.choice-outer {
    padding-left: 32px;
}

.choice-outer .option-div {
    position: relative;
}


/* .choice-outer .option-div::before {
    content: '';
    width: 12px;
    height: 12px;
    background-color: transparent;
    border: 1px solid var(--app-gray-06);
    position: absolute;
    left: -20px;
    top: 10px;
    border-radius: 100%;
} */

.min-max-132 {
    max-height: 272px;
    overflow: hidden;
    border-radius: 0px;
    background-color: var(--app-white);
    padding: 8px;
}

.min-max-132 img {
    text-align: center;
    height: auto;
    width: auto;
    max-width: 100%;
    margin: 0px auto;
}

.tpt-btn {
    border: none;
    background-color: transparent;
    height: 32px;
    line-height: 32px;
    font-size: var(--font-regular);
    font-weight: var(--font-weight-600);
    color: var(--app-gray-02);
}

.tpt-btn .next-btn {
    transform: rotate(-90deg);
    width: 1rem;
    height: 1rem;
    margin-top: -2px;
    margin-left: 8px;
    color: var(--app-gray-02);
}

.pagination-1 {
    line-height: 32px;
    font-size: var(--font-regular);
}

.hide-480 {
    display: none;
}

.custom-check-outer label {
    white-space: initial !important;
}

.custom-radio-outer label {
    white-space: initial !important;
}

.pre-none label {
    white-space: initial !important;
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: var(--bg-white);
    background-color: transparent;
    border-color: transparent;
}

.photo-box {
    border: none !important;
    background-color: var(--app-white) !important;
    border-radius: 3px;
}

.d-flex-alert {
    display: flex;
    justify-content: space-between;
}

textarea {
    resize: none;
}

div#xofy {
    line-height: 32px;
}

.check-in-div {
    min-height: 0px;
    color: var(--app-gray-02);
}

.quiz-preview-sec {
    padding-top: 0px;
    padding-bottom: 0px;
}

.quiz-updated-img {
    padding: 0px;
}

.option-image-section {
    padding: 0px;
    background-color: transparent;
}

.question-title {
    word-break: break-all;
}

.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu {
    left: 306px !important;
}

.confirm-box {
    font-size: var(--font-12);
}

.question-title {
    font-size: 16px;
}

.heightfit {
    width: auto;
    max-height: 264px;
}

label h4 {
    word-break: break-all;
}

.quiz-updated-img .heightfit {
    max-height: 148px;
}

.quiz-updated .widthfit {
    width: 100%;
    height: 148px;
    max-height: 148px;
}

.btn-plain {
    padding: 0px;
    border: none;
    box-shadow: none;
    outline: none;
    width: 16px;
    margin-left: 16px;
    height: 16px;
}

.btn-plain svg {
    fill: var(--app-gray-02);
    margin-top: -12px;
}

.btn-plain i {
    margin-top: -6px;
}

.btn-plain:hover {
    border: none;
    box-shadow: none;
    outline: none;
}

.btn-plain:focus {
    outline: -webkit-focus-ring-color auto 5px !important;
    outline: revert;
    box-shadow: none;
}

.dd-btn .span2 svg {
    margin-top: -10px !important;
}

.btn-group .dropdown-menu {
    top: 22px !important;
    font-size: var(--font-13);
    font-weight: var(--font-weight-600);
}

.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
    border-color: transparent;
}

.show>.btn-primary.dropdown-toggle {
    border-color: transparent;
}

.footer .dropdown-menu {
    color: var(--app-gray-sub-text);
    font-size: var(--font-12);
    font-weight: var(--font-weight-600);
}

.footer .dropdown-menu.show li a {
    padding: 0.5rem;
}

.threedots .dropdown-menu a {
    padding: 0.5rem;
    line-height: 1rem;
    color: var(--app-gray-sub-text);
    font-size: var(--font-12);
    font-weight: var(--font-weight-600);
}

.threedots .dropdown-item:hover {
    background-color: var(--app-white);
}

.threedots .dropdown-menu svg {
    margin-top: -2px;
    margin-right: 8px;
}

.dropdown-item.active,
.dropdown-item:active {
    color: var(--bg-white);
    text-decoration: none;
    background-color: transparent;
    color: var(--app-gray-sub-text);
}

.footer .dropdown-menu.show:hover {
    box-shadow: var(--app-black-shadow-2) -4px -0.8rem 1rem -0.2rem;
}

.quiz-updated-img {
    min-height: 12px;
}

#xofy {
    color: var(--app-gray-02);
}

.spinner-border {
    /* display: none; */
}

.setting-label {
    font-size: var(--font-12);
    color: var(--app-black);
}

.btn-primary.disabled {
    position: relative;
}

.btn-primary.disabled .spinner-border {
    display: inline-block;
    border: 0.25em solid var(--app-white);
    border-right-color: transparent;
    position: absolute;
    margin: 3px auto;
    left: 0;
    right: 0;
}

.option-div .radio-outer:before {
    content: '';
    width: 12px;
    height: 12px;
    background-color: transparent;
    border: 1px solid var(--app-gray-06);
    position: absolute;
    left: -8px;
    top: 10px;
    border-radius: 100%;
}

.d-table label+label {
    line-height: 24px;
}

.summary-section .card-box-question {
    margin-bottom: 16px;
}


/* .updated-img{
    background-color: transparent !important;
    border: none !important;
} */

.bdr-none {
    border: none !important;
}

.bg-none {
    background-color: transparent !important;
}

.mh--20 {
    min-height: 20px;
}

.loader-cover {
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: var(--bg-white);
    text-align: center;
    display: table;
    z-index: 1;
    min-height: 146px;
}

.change-date .d-flex-alert {
    display: flex;
    justify-content: right;
}

.close-quiz .d-flex-alert {
    display: flex;
    justify-content: right;
}

.delete-quiz .d-flex-alert {
    display: flex;
    justify-content: right;
}

.change-date .d-flex-alert .pl--8,
.close-quiz .d-flex-alert .pl--8,
.delete-quiz .d-flex-alert .pl--8 {
    width: 100%;
}

.relative {
    position: relative;
}

.question-prev-training .card-bg {
    background-color: var(--app-white) !important;
    border: 1px solid var(--card-border) !important;
}

.radio-section {
    line-height: 16px;
}

.setting-section .checkmark {
    top: 2px;
}

.relative .d-table.d-none {
    display: none !important;
}

.btn-primary svg {
    fill: var(--bg-white);
}

.add-options svg {
    fill: var(--main-bg-color);
}

.smallfit {
    max-height: 146px;
}

.in-t::-webkit-scrollbar-track {
    background-color: var(--app-white);
}

#add-questions svg {
    margin-right: 8px;
}

.footer .d-table a {
    display: table-cell;
    vertical-align: middle;
}

.min-max-132 img.heightfit {
    max-height: 272px;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

@media screen and (max-width: 576px) {
    .container {
        width: 100%;
        max-width: 100%;
    }
    /* body {
        font-size: var(--font-12);
    } */
    .body-outer {
        margin-top: 16px;
        padding: 16px 16px 16px 16px;
    }
    /* .back-btn {
        width: 0.65rem;
        height: 0.65rem;
    } */
    .footer {
        left: 0rem;
        right: 0rem;
    }
    .footer-padd {
        padding: 1rem 1.5rem;
    }
    .table td,
    .table th {
        font-size: var(--font-12);
    }
    .hide-480 {
        display: block;
    }
    .body-outer::before {
        left: 16px;
        right: 16px;
    }
    .datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu {
        left: 51% !important;
    }
    .body-outer::before {
        border-top: none;
    }
    body {
        overscroll-behavior-y: contain;
    }
    .footer {
        bottom: 0px;
        top: auto;
    }
    .body-outer {
        bottom: 0px;
        padding-bottom: 80px;
    }
}

@media screen and (max-width: 480px) {
    .d-flex-alert {
        display: inline-block;
        width: 100%;
    }
    .d-flex-alert .pl--8 {
        width: 60%;
        float: left;
        margin-top: 8px;
    }
    .d-flex-alert .pr--8 {
        width: 40%;
        float: left;
    }
    .min-max-132 {
        max-height: 218px;
        min-height: 0px;
    }
    .heightfit {
        width: auto;
        max-height: 218px;
    }
    .quiz-updated-img .heightfit {
        max-height: 120px;
    }
    .quiz-updated .widthfit {
        width: 100%;
        height: 120px;
        max-height: 120px;
    }
    .smallfit {
        max-height: 120px;
    }
    .photo-box {
        max-height: 120px;
        min-height: 120px !important;
    }
    .photo-box span {
        bottom: 34px;
    }
    .photo-box {
        background-position: top 34px center;
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 402px) {
    .d-flex-alert .pl--8 {
        width: 60%;
        float: left;
        margin-top: 8px;
    }
    .d-flex-alert .pr--8 {
        width: 40%;
        float: left;
    }
}

.card-box-question label+label {
    line-height: 16px;
}

.card-box-question label {
    display: table-cell;
    vertical-align: -webkit-baseline-middle;
    width: 100%;
    vertical-align: middle;
}