@charset "utf-8";

/* CSS Document */

:root {
    --font-12: 0.75rem;
    --font-13: 0.8125rem;
    --font-regular: 0.875rem;
    --font-16: 1rem;
    --font-18: 1.125rem;
    --font-21: 1.3125rem;
    --font-30: 1.875rem;
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --app-black: #000000;
    --app-blue: #1aebff;
    --app-green: #3ff23f;
    --app-yellow: #ffff01;
    --app-white: #ffffff;
    --card-bg: #3b3a3a;
    --card-border: #484644;
    --app-gray-04: #8A8886;
    --danger-color: #C4314B;
    --danger-bg: #fce2e5;
    --danger-border: #eabbc2;
    --success-color: #237b4b;
    --success-border: #92c353;
    --success-bg: #faf9f8;
    --table-border: #dee2e6;
}

body {
    background-color: var(--app-black);
    font-weight: var(--font-weight-300);
    font-size: var(--font-regular);
    color: var(--app-white);
}

* {
    margin: 0px;
    padding: 0px;
}

.card-bg {
    background-color: var(--card-bg);
}

.card-border {
    border: 1px solid var(--card-border)
}

.form-group {
    margin-bottom: 16px;
    position: relative;
}

.close {
    float: right;
    text-decoration: none;
    color: var(--app-white);
}

form {
    width: 100%;
}

.custom-radio-outer.disabled,
.custom-check-outer.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.teams-link {
    color: var(--app-white);
    border: none;
    background-color: transparent;
    font-weight: var(--font-weight-400);
}

.teams-link svg {
    fill: var(--app-white);
}

.teams-link:hover {
    color: var(--app-white);
}

.font-sm {
    font-size: var(--font-13);
}

.btn-primary {
    color: var(--app-white);
    background-color: transparent;
    border-color: var(--app-white) !important;
}

.btn-primary:hover {
    color: #000;
    background-color: var(--app-yellow) !important;
    border-color: var(--app-white) !important;
}

.btn-primary:focus {
    color: #000;
    background-color: var(--app-yellow) !important;
    border-color: var(--app-white) !important;
}

.btn-primary svg {
    fill: var(--app-white);
}

.btn-primary:focus svg {
    fill: #000;
}

.btn-primary:hover svg {
    fill: #000;
}

.btn-primary-outline {
    color: var(--app-gray-04) !important;
    background-color: transparent !important;
    border-color: var(--card-border) !important;
}

.btn-primary-outline:hover {
    color: var(--app-white) !important;
    background-color: transparent !important;
    border-color: var(--app-white) !important;
}

.btn-primary-outline:focus {
    color: var(--app-white) !important;
    background-color: transparent !important;
    border-color: var(--app-white) !important;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .5) !important;
}

.form-group {
    margin-bottom: 10px !important;
}

.date-color {
    color: var(--app-yellow);
    font-weight: var(--font-weight-600);
}

.bg-primary {
    background-color: var(--app-yellow) !important;
}

label {
    display: inline-block;
    margin-bottom: 8px !important;
    color: var(--app-white);
    font-weight: var(--font-weight-600);
}

.project-tab {
    padding: 10%;
    margin-top: -8%;
}

.project-tab #tabs {
    background: #007b5e;
    color: #eee;
}

.project-tab #tabs h6.section-title {
    color: #eee;
}

.project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: var(--app-yellow);
}

.project-tab .nav-link:hover {
    border: none;
}

.project-tab thead {
    background: #f3f3f3;
    color: #333;
}

.project-tab a {
    text-decoration: none;
    color: #333;
    font-weight: var(--font-weight-600);
}

.hide {
    display: none;
}

.getresult {
    cursor: pointer;
    font-size: var(--font-12);
}

.getresult span {
    color: var(--app-yellow);
    text-decoration: underline;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: var(--app-yellow) !important;
    background-color: transparent !important;
    border-color: transparent !important;
}

.project-tab #tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 2px var(--app-yellow) solid !important;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: transparent;
}

.nav-fill .nav-item {
    font-weight: var(--font-weight-600);
}


/* new style */

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #11100F;
    font-weight: var(--font-weight-600);
}

.table td,
.table th {
    font-size: var(--font-13);
}

.btn {
    padding: .25rem 1.5rem;
}

.alert {
    position: relative;
    padding: .2rem 1.8rem 0.2rem .5rem !important;
}

.alert-danger {
    color: var(--app-white)!important;
    background-color: transparent;
    border-color: var(--app-blue) !important;
}

.alert-danger i {
    color: var(--app-blue) !important;
    position: absolute;
    top: 5px;
    right: 10px;
}

.alert-success {
    color: var(--app-white)!important;
    background-color: transparent;
    border-color: var(--app-green) !important;
}

.alert-success i {
    color: var(--app-green) !important;
    position: absolute;
    top: 5px;
    right: 10px;
}

.text-danger {
    color: var(--app-blue)!important;
}

.check-opt .text-success i {
    color: var(--app-green);
}

.mb0 {
    margin-bottom: 0px !important;
}

.h4,
h4 {
    font-size: var(--font-21) !important;
    font-weight: var(--font-weight-600);
}

b,
strong {
    font-weight: var(--font-weight-600) !important;
}

.btn.close {
    font-size: var(--font-16) !important;
}

.modal-title {
    font-size: var(--font-18);
    font-weight: var(--font-weight-500);
}

.modal-body {
    font-size: var(--font-regular);
}

.modal-content {
    border: none;
    border-radius: 0px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.modal-content svg {
    fill: var(--app-white);
}

.modal-content .app-black-color {
    color: var(--app-white);
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.modal-backdrop {
    background-color: #252423;
}

.modal-content {
    background-color: #252423;
}

.input-lg {
    font-size: var(--font-18) !important;
    font-weight: var(--font-weight-600);
    height: calc(1.8em + .75rem + 2px);
    padding: .9rem .75rem;
}

.card-box {
    margin-bottom: 16px;
    padding: 16px;
    position: relative;
}

.card-box-alert {
    border: 2px solid var(--app-blue);
    margin-bottom: 16px;
    padding: 16px;
    position: relative;
}

.card-box-alert .text-danger {
    color: var(--app-blue);
}

.text-danger {
    color: var(--app-blue);
}

.text-success {
    color: var(--app-green) !important;
}

.input-tpt {
    background-color: transparent !important;
    border: none !important;
    color: #C8C6C4;
}

.pl-0 {
    padding-left: 0px;
}

.strong {
    font-weight: var(--font-weight-600);
}

.input-group-tpt .in-t {
    background-color: #11100F !important;
    border-radius: 0px !important;
    border: none;
    border-bottom: 2px solid var(--app-white) !important;
    transition: all ease-in-out 0.3s;
    font-size: var(--font-13);
    color: #C8C6C4
}

.label-alert {
    color: var(--app-blue);
    text-align: right;
}

.input-group-tpt .in-t:focus {
    box-shadow: none !important;
    border-bottom: 2px solid var(--app-yellow) !important;
    transition: all ease-in-out 0.3s;
}

.in-t.danger {
    border-bottom: 2px solid var(--app-blue) !important;
}

.in-t.danger:focus {
    border-bottom: 2px solid var(--app-blue) !important;
}

.input-group-tpt {
    display: block;
}

.input-group-tpt .in-t {
    width: 100%;
    padding-right: 30px;
    color: var(--app-white);
}

.input-group-tpt .in-t::placeholder {
    color: var(--app-white);
}

.input-group-tpt .in-t::-ms-input-placeholder {
    color: var(--app-white);
}

.input-group-tpt .input-group-append {
    margin-left: -1px;
    position: absolute;
    right: 0px;
    top: 4px;
    z-index: 99;
}

.ext-flex {
    width: 10%;
}

.d-flex .form-group {
    width: 100%;
}

.ha {
    fill: #9fa4fe;
}

.gv {
    transform: rotate(0deg);
}

.gt {
    height: .9rem;
}

.gs {
    width: .9rem;
}

.gu {
    fill: currentcolor;
}

.wh {
    fill: var(--app-white);
}

.input-tpt svg {
    fill: var(--app-white);
}

.svg-bk {
    fill: var(--app-white);
}

.h-32 {
    height: 32px;
}

.h-32 svg {
    fill: var(--app-white);
}

.btn svg {
    margin-top: -3px;
}

.mt-3 {
    margin-top: -3px !important
}

.footer svg {
    fill: var(--app-white);
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: var(--app-black);
    z-index: 100;
    left: 0px;
}

.bt {
    border-top: 1px solid var(--app-white);
}

.ki {
    transform: rotate(90deg);
}

.footer-padd {
    padding: 1rem 0px;
}

.theme-color {
    color: var(--app-white) !important;
}

a.theme-color {
    color: var(--app-white) !important;
}

.cursur-pointer {
    cursor: pointer;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.close {
    opacity: 1;
}

#hide1 {
    margin-top: 5px;
    display: block;
}

#hide2 {
    margin-top: 5px;
    display: block;
}

.close span {
    outline: none;
    box-shadow: none;
}

.mt--4 {
    margin-top: -4px;
}

button:focus {
    outline: none !important;
}

.alert {
    border-radius: 3px;
}

.alert-normal {
    color: var(--app-white) !important;
    background-color: var(--app-black) !important;
    border-color: var(--app-white) !important;
}

.alert-normal i {
    top: 5px;
    right: 10px;
    position: absolute;
}

.pb-100 {
    padding-bottom: 100px;
}

.ht-100 {
    height: 100px !important;
    width: 100%;
}


/*custom radio*/

.custom-radio-outer {
    display: block;
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-block {
    position: absolute;
    top: 5px;
    left: 0;
    height: 12px;
    width: 12px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--app-white)
}

.custom-radio input:focus~.radio-block {
    box-shadow: 0px 0px 1px 1px var(--app-blue);
}

.custom-radio input:hover~.radio-block {
    box-shadow: 0px 0px 1px 1px var(--app-blue);
}

.custom-radio input:checked~.radio-block {
    background-color: var(--app-blue);
    border: none;
}

.custom-radio:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-radio input:checked~.radio-block:after {
    display: block;
}

.custom-radio .radio-block:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}


/*cutom-check*/

.custom-check-outer {
    display: block;
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: transparent;
    border: 1px solid var(--app-white);
    border-radius: 2px;
}

.custom-check:focus input~.checkmark {
    box-shadow: 0px 0px 2px 2px var(--app-blue);
}

.custom-check:hover input~.checkmark {
    box-shadow: 0px 0px 1px 2px var(--app-blue);
}

.custom-check input:checked~.checkmark {
    background-color: var(--app-blue);
    border: none;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-check input:checked~.checkmark:after {
    display: block;
}

.custom-check .checkmark:after {
    left: 6px;
    top: 3px;
    width: 4px;
    height: 8px;
    border: solid #000;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

input[type="date"] {
    position: relative;
    padding: 10px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 1;
}

input[type="date"]:before {
    color: transparent;
    background: none;
    display: block;
    font-family: 'FontAwesome';
    content: '\f073';
    width: 15px;
    height: 20px;
    position: absolute;
    top: 7px;
    right: 25px;
    color: #C8C6C4;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 1;
}

input[type="time"]:before {
    color: transparent;
    background: none;
    display: block;
    font-family: 'FontAwesome';
    content: '\f017';
    width: 18px;
    height: 23px;
    position: absolute;
    top: 4px;
    right: 29px;
    color: #C8C6C4;
    font-size: var(--font-16);
}

a {
    color: var(--app-white);
}

a:hover {
    color: var(--app-yellow);
}

.table {
    color: var(--app-white);
}

.nav-tabs {
    border-bottom: transparent;
}

.table td,
.table th {
    border-top: 1px solid #11100F;
}

.close:hover {
    color: var(--app-white);
    text-decoration: none;
}

.in-t {
    background-color: var(--app-black) !important;
    border-radius: 0px !important;
    border: none;
    border-bottom: 2px solid var(--app-white) !important;
    transition: all ease-in-out 0.3s;
    font-size: var(--font-13);
    color: var(--app-white);
}

.in-t::placeholder {
    color: var(--app-white);
    opacity: 1;
}

.in-t::-ms-input-placeholder {
    color: var(--app-white);
}

.in-t:focus {
    box-shadow: none !important;
    border-bottom: 2px solid var(--app-yellow) !important;
    transition: all ease-in-out 0.3s;
}

.btn-outline-secondary {
    color: var(--app-yellow);
    border-color: var(--app-yellow);
}

.btn-outline-secondary:hover {
    color: var(--app-black);
    background-color: var(--app-white);
    border-color: var(--app-white);
}


/* new css */

.avtar {
    width: 2.25rem;
    height: 2.25rem;
    background-color: var(--app-white);
    text-align: center;
    line-height: 2.25rem;
    border-radius: 100%;
    margin-right: 0.625rem;
    color: #11100f;
}

.avtar-txt {
    line-height: 2.25rem;
    color: var(--app-white);
    font-weight: var(--font-weight-500);
}

.table td {
    padding: 0.75rem 0.75rem 0.75rem 0;
    border-bottom: 1px solid var(--app-white);
    border-top: none;
}

.right-carate {
    width: .5rem;
    height: .5rem;
    transform: rotate(-90deg);
}

.nav-tabs {
    border-bottom: 2px solid #E1DFDD;
}

.bt {
    border-top: 1px solid #E1DFDD;
}

.indent-20 {
    padding-left: 16px;
}

body::-webkit-scrollbar {
    width: 0.75rem;
}

body::-webkit-scrollbar-track {
    background: var(--app-white);
}

body::-webkit-scrollbar-thumb {
    background-color: #E1DFDD;
    border-radius: 40px;
}

body::-webkit-scrollbar:hover {
    width: 0.8rem;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #979593;
    border-radius: 40px;
}

body {
    scrollbar-color: #E1DFDD #E1DFDD;
    scrollbar-width: thin;
}


/* date */

.back-btn {
    width: 0.75rem;
    height: 0.75rem;
    color: #252423;
    transform: rotate(90deg);
    margin-top: -2px;
    margin-right: 10px;
}

.datepicker.dropdown-menu {
    background-color: var(--app-black);
    color: var(--app-white);
    border: 1px solid var(--app-white);
}

.datetimepicker.dropdown-menu {
    background-color: var(--app-black);
    border: 1px solid var(--app-white);
    color: var(--app-white);
}

.datepicker-dropdown:after {
    border-bottom: 6px solid var(--app-black);
}

.datepicker {
    padding: 0.875rem;
    border-radius: 0px;
    direction: ltr;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0.8rem 1rem -0.2rem;
}

.datepicker .thead {
    height: 40px;
}

.datepicker table tr td,
.datepicker table tr th {
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border: none;
    font-size: var(--font-12);
    font-weight: var(--font-weight-400);
}

.datepicker-days .prev {
    position: absolute;
    right: 40px;
    font-size: var(--font-30);
    top: 6px;
}

.datepicker-days .next {
    position: absolute;
    right: 4px;
    font-size: var(--font-30);
    top: 6px;
}

.datepicker-days .datepicker-switch {
    position: absolute;
    left: 22px;
    width: auto;
    font-size: var(--font-13);
    font-weight: var(--font-weight-600);
}

.datepicker table thead tr {
    height: 30px;
}

.datepicker table thead tr+tr {
    border-top: 1px solid #E1DFDD;
}

.datepicker thead tr:first-child th:hover,
.datepicker tfoot tr th:hover {
    background: transparent;
    color: var(--app-white)
}

.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
    color: var(--app-black);
    background-color: var(--app-blue);
    border-color: transparent;
}

.datepicker table tr td.today:hover:hover {
    background: var(--app-yellow);
    color: var(--app-black);
}

.datepicker table tr td.today:hover,
.datepicker table tr td.today:hover:hover,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today.disabled:hover:hover,
.datepicker table tr td.today:focus,
.datepicker table tr td.today:hover:focus,
.datepicker table tr td.today.disabled:focus,
.datepicker table tr td.today.disabled:hover:focus,
.datepicker table tr td.today:active,
.datepicker table tr td.today:hover:active,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today.active,
.datepicker table tr td.today:hover.active,
.datepicker table tr td.today.disabled.active,
.datepicker table tr td.today.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td.today,
.open .dropdown-toggle.datepicker table tr td.today:hover,
.open .dropdown-toggle.datepicker table tr td.today.disabled,
.open .dropdown-toggle.datepicker table tr td.today.disabled:hover {
    color: var(--app-black);
    background-color: var(--app-blue);
    border-color: var(--app-blue);
}

.datepicker table tr td,
.datepicker table tr th {
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border: none;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    font-size: var(--font-12);
    font-weight: var(--font-weight-400);
}

.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:focus,
.datepicker table tr td.active:hover:focus,
.datepicker table tr td.active.disabled:focus,
.datepicker table tr td.active.disabled:hover:focus,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td.active,
.open .dropdown-toggle.datepicker table tr td.active:hover,
.open .dropdown-toggle.datepicker table tr td.active.disabled,
.open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
    color: var(--app-black);
    background-color: var(--app-blue);
    border-color: transparent;
}

.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
    background: var(--app-yellow);
    cursor: pointer;
    color: var(--app-black);
}

.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:focus,
.datepicker table tr td span.active:hover:focus,
.datepicker table tr td span.active.disabled:focus,
.datepicker table tr td span.active.disabled:hover:focus,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td span.active,
.open .dropdown-toggle.datepicker table tr td span.active:hover,
.open .dropdown-toggle.datepicker table tr td span.active.disabled,
.open .dropdown-toggle.datepicker table tr td span.active.disabled:hover {
    color: var(--app-white);
    background-color: var(--app-blue);
    border-color: transparent;
}

.dropdown-menu {
    color: #11100F;
}

.datepicker table tr td span:hover {
    background: #11100F;
}

.datepicker .fa {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #252423;
}

.date.form_date input {
    background-image: url(https://www.webcraft.co.in/teams-ic/cal.png);
    background-repeat: no-repeat;
    background-position: right 10px top 5px;
    font-size: var(--font-regular);
}

.datetimepicker-hours thead tr th {
    opacity: 0;
}

.datetimepicker .datetimepicker-hours span {
    height: 30px;
    line-height: 30px;
    font-size: var(--font-regular);
    font-weight: var(--font-weight-400);
    color: var(--app-white);
}

.datetimepicker-dropdown-bottom-right {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0.8rem 1rem -0.2rem;
}

.datetimepicker-hours .prev {
    display: none;
}

.datetimepicker th.switch {
    height: 1px;
    display: none;
}

.datetimepicker-hours .next {
    display: none;
}

.datetimepicker-dropdown-bottom-right.dropdown-menu {
    min-width: 12rem;
}

.datetimepicker-dropdown-bottom-right .table-condensed {
    width: 100%;
}

.datetimepicker-dropdown-bottom-right .today {
    font-size: var(--font-12);
}

.datetimepicker thead tr:first-child th:hover,
.datetimepicker tfoot th:hover {
    background: #11100F;
}

.datetimepicker table tr td span.active:active,
.datetimepicker table tr td span.active:hover:active,
.datetimepicker table tr td span.active.disabled:active,
.datetimepicker table tr td span.active.disabled:hover:active,
.datetimepicker table tr td span.active.active,
.datetimepicker table tr td span.active:hover.active,
.datetimepicker table tr td span.active.disabled.active,
.datetimepicker table tr td span.active.disabled:hover.active {
    color: var(--app-white);
    background-color: var(--app-blue);
    text-shadow: none;
    background-image: none;
}

.datetimepicker table tr td span:hover {
    background: #11100F;
}

.datetimepicker .datetimepicker-minutes span {
    height: 30px;
    line-height: 30px;
    font-size: var(--font-12);
    font-weight: var(--font-weight-400);
    color: var(--app-white);
}

.date.form_time input {
    background-image: url(https://www.webcraft.co.in/teams-ic/time.png);
    background-repeat: no-repeat;
    background-position: right 10px top 5px;
    font-size: var(--font-regular);
}

.right-carate {
    width: .5rem;
    height: .5rem;
    transform: rotate(-90deg);
    fill: var(--app-white);
}

[class*=" datetimepicker-dropdown"]:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #2d2c2c;
    position: absolute;
}

.show-setting {
    display: flex !important;
}

.progress-section label {
    color: var(--app-white);
}

.d-table label {
    display: table-cell;
    vertical-align: top;
    width: 100%;
}

.progress {
    height: 0.5rem;
}

#hide1 #due {
    font-size: var(--font-12);
    font-weight: var(--font-weight-400);
}

.show-setting svg {
    margin-top: 3px;
    margin-right: 5px;
    fill: var(--app-white) !important;
}

.under-line:hover {
    text-decoration: underline;
}

hr {
    border-top: 1px solid var(--app-white);
}

body::-webkit-scrollbar {
    width: 0.75rem;
}

body::-webkit-scrollbar-track {
    background: #252423;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--app-white);
    border-radius: 40px;
}

body::-webkit-scrollbar:hover {
    width: 0.8rem;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--app-yellow);
    border-radius: 40px;
}

body {
    scrollbar-color: #605E5C #605E5C;
    scrollbar-width: thin;
}

.tc {
    fill: var(--app-yellow);
}

.hide {
    display: none;
}

.setting-section .custom-radio-outer:last-child {
    margin-bottom: 24px;
}

.input-group.date.form_date {
    margin-bottom: 24px;
}

.remove-option-q {
    border-radius: 0px;
    position: absolute;
    right: 0px;
    z-index: 10;
    top: 2px;
}

.check-opt {
    right: 30px !important;
}

.input-lg::-webkit-input-placeholder {
    color: var(--app-gray-04);
}

.input-lg:-ms-input-placeholder {
    color: var(--app-gray-04);
}

.input-lg::placeholder {
    color: var(--app-gray-04);
}

.in-t::-webkit-input-placeholder {
    color: var(--app-gray-04);
}

.in-t:-ms-input-placeholder {
    color: var(--app-gray-04);
}

.in-t::placeholder {
    color: var(--app-gray-04);
}

.input-group-tpt .in-t::-webkit-input-placeholder {
    color: var(--app-gray-04);
}

.input-group-tpt .in-t:-ms-input-placeholder {
    color: var(--app-gray-04);
}

.input-group-tpt .in-t::placeholder {
    color: var(--app-gray-04);
}